<h1>CTA Crime API</h1>
<p>Request this page using AJAX to receive a JSON or XML stream of Chicago Crime Data for 2014 filtered for CTA bus and station crime</p>
<p>Requesting "cta_crime/tally" will get you a tally of the CTA crimes for easy analysis</p>
